.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/

.idea/
.vscode/
*.iml

android/.gradle/
android/.kotlin/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

.env
*.env
